@use '@angular/material' as mat;

@include mat.core();

$primary-palette: mat.define-palette(mat.$blue-palette, 700);
$accent-palette: mat.define-palette(mat.$green-palette, A700);
$warn-palette: mat.define-palette(mat.$red-palette);

$medicare-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($medicare-theme);

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}
